{% load static %}
<!-- ------------------footer---------------------- -->
<!-- Блок дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/footer.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-center text-white mt-40">
    <img src="{% static 'image/logo.svg' %}" alt="logo" class="w-40 mx-auto mb-10" loading="lazy">
     <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    <h3 class="text-7xl font-normal leading-tight mb-6 font-manrope uppercase mt-5">
        Змінюйте <span class="text-[#5ACAFA] font-bold">тіло</span> <br>та <span class="text-[#5ACAFA] font-bold">розум</span>
    </h3>
    <div class="mt-10 flex flex-col gap-5 items-center justify-center gap-5">
        <a href="https://maps.google.com/?q=м.+Київ,+пр-т+Берестейський,+131-А" target="_blank"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
            </div>
        </a>
        <a href="mailto:jagiron@ukr.net">
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">
                    jagiron@ukr.net
                </p>
            </div>
        </a>
    </div>
    <div class="mt-10 flex flex-row gap-2 items-center justify-center gap-[50px]">
        <a href="https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D" target="_blank"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/instagram.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
         <a href="https://www.facebook.com/"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/facebook.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
    </div>
    <div class="relative flex items-center justify-center gap-2 text-white text-sm flex-col mt-10 mb-5 z-10">

    <a href="https://www.web-mars.com/" target="_blank" class="relative z-10">

        <img src="{% static 'image/mars.svg' %}" 
             alt="logo"
             class="w-20 transition duration-500 
                    hover:scale-110 
                    hover:drop-shadow-[0_0_12px_#5ACAFA]
                    active:scale-95">

    </a>

</div>

  </div>
</section>
<!-- Блок дестоп -->
 <!-- Блок дестоп -->
 <section class="block md:hidden relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/footer-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-center text-white mt-50 p-10">
    <img src="{% static 'image/logo.svg' %}" alt="logo" class="w-40 mx-auto mb-10" loading="lazy">
     <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-bold">&nbsp;&nbsp;Сталева пума</span></p>
    <h3 class="text-4xl font-normal leading-tight mb-6 font-manrope uppercase mt-5">
        Змінюйте<br><span class="text-[#5ACAFA] font-bold">тіло</span> та</span> <br><span class="text-[#5ACAFA] font-bold">розум</span>
    </h3>
    <div class="mt-10 flex flex-col gap-5 items-center justify-center gap-5">
        <a href="https://maps.google.com/?q=м.+Київ,+пр-т+Берестейський,+131-А" target="_blank"> 
            <div class="flex flex-col gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
            </div>
        </a>
        <a href="mailto:jagiron@ukr.net">
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">
                    jagiron@ukr.net
                </p>
            </div>
        </a>
    </div>
    <div class="mt-10 flex flex-row gap-2 items-center justify-center gap-[50px]">
        <a href="https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D" target="_blank"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/instagram.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
         <a href="https://www.facebook.com/"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/facebook.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
    </div>
   <div class="relative flex items-center justify-center gap-2 text-white text-sm flex-col mt-10 mb-5 z-10">

    <a href="https://www.web-mars.com/" target="_blank" class="relative z-10">

        <img src="{% static 'image/mars.svg' %}" 
             alt="logo"
             class="w-20 transition duration-500 
                    hover:scale-110 
                    hover:drop-shadow-[0_0_12px_#5ACAFA]
                    active:scale-95">
    </a>

</div>

  </div>
</section>
<!-- Блок дестоп -->

 <!-- ------------------footer---------------------- -->