{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<!-- ------------------блок1---------------------- -->
<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center"
    style="background-image: url('/static/image/home-des.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/10"></div>

    <!-- контент -->
    <div class="relative z-10 flex items-center w-full px-16">

        <!-- текст слева -->
        <div class="max-w-2xl text-white">
            <div class="flex flex-row flex-wrap items-center mb-8 gap-4">
                <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
                <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
            </div>
           <div x-data="{ show: false }"
     x-init="setTimeout(() => show = true, 200)">

    <h1 
        x-show="show"
        x-transition:enter="transition-all ease-in-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
        x-transition:enter-end="opacity-100 translate-y-0 blur-0"
        class="text-8xl font-bold leading-tight mb-6 font-manrope">

        СИЛА <span class="text-[#5ACAFA] font-light">ФОКУС</span> <br>ХАРАКТЕР
    </h1>

</div>


            <h2 class="text-lg text-gray-100 mb-8 font-manrope max-w-md font-light">
                Змінюйте тіло та розум у фітнес-клубі<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span>  де усе готово до початку нового шляху .
            </h2>

            <div class="flex flex-row flex-wrap gap-5">
               <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                </a>

                <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px] hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <span class="font-medium text-center">
                        Ціни
                    </span>

                </a>

            </div>
            <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">ЗНАЙДИ НАС НА КАРТІ</p>
                </div></a>
               
                <a href="{% url 'shop:galery-steel-puma' %}#videos"> <img src="{% static 'image/video.svg' %}" alt="video-player" class="w-12 cursor-pointer hover:scale-105 transition drop-shadow-[0_0_10px_#5ACAFA]" loading="eager"></a>
            </div>
        </div>
    </div>
</section>
<!-- Блок 1 дестоп -->

<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/home-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-left text-white p-5">
    <div class="flex flex-row flex-wrap items-center mb-8 gap-4 mt-10">
        <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
        <p class="text-sm font-normal font-manrope text-white"><span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    </div>
    <div x-data="{ show: false }"
        x-init="setTimeout(() => show = true, 200)">

        <h1 
            x-show="show"
            x-transition:enter="transition-all ease-in-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
            x-transition:enter-end="opacity-100 translate-y-0 blur-0"
            class="text-5xl font-bold leading-tight mb-6 font-manrope">

            СИЛА <span class="text-[#5ACAFA] font-light">ФОКУС</span> <br>ХАРАКТЕР
        </h1>

    </div>

     <!-- <h1 class="text-5xl font-bold leading-tight mb-6 font-manrope">
        СИЛА <span class="text-[#5ACAFA] font-light">ФОКУС</span> <br>ХАРАКТЕР
     </h1> -->

     <h2 class="text-xl text-gray-100 mb-8 font-manrope max-w-md font-light">
        Змінюйте тіло та розум у фітнес-клубі<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span><br>де усе готово до початку нового шляху .
     </h2>

                <div class="flex flex-row flex-wrap gap-5">
                    <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                    </a>

                    <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px]">

                        <span class="font-medium text-center">
                            Ціни
                        </span>

                    </a>

                </div>
            <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">На карті</p>
                </div></a>
               
                <a href="{% url 'shop:galery-steel-puma' %}#videos"> <img src="{% static 'image/video.svg' %}" alt="video-player" class="w-12 cursor-pointer hover:scale-105 transition drop-shadow-[0_0_10px_#5ACAFA]" loading="eager"></a>

            </div>

  </div>

</section>
<!-- Блок 1 мобайл -->
 <!-- ------------------блок1---------------------- -->
  <!-- ------------------блок2---------------------- -->

<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center"
    style="background-image: url('/static/image/about-des.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/10"></div>

    <!-- контент -->
    <div class="relative z-10 flex items-center w-full px-16">

        <!-- текст слева -->
        <div class="max-w-2xl text-white">
            
            <h3 class="text-4xl font-bold leading-tight mb-6 font-manrope">
                МІСЦE ЗМІН<br><span class="text-[#5ACAFA] font-light text-6xl">Сталева Пума</span>
            </h3>
            <h4 class="text-lg font-light leading-tight mb-6 font-manrope max-w-lg montserrat leading-[1.6] mt-5">
                Ласкаво просимо до «Сталевої Пуми» – нового фітнес-клубу, у якому сучасність поєднується з професіоналізмом! У нас ви знайдете найновіше обладнання, просторі тренажерні зали та комфортну атмосферу для тренувань будь-якого рівня.
            </h4>
            <h4 class="text-lg font-light leading-tight mb-6 font-manrope max-w-lg montserrat leading-[1.6]">
                Наші професійні тренери допоможуть досягти поставлених цілей, а групові заняття зроблять тренування ще й цікавішими та ефективнішими.
            </h4>

            <div class="flex flex-row flex-wrap gap-5 mt-20">
                <a href="https://t.me/+380636364320" target="_blank" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px] hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <span class="font-medium text-center">
                        Записатись
                    </span>

                </a>
            </div>
             <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
                </div></a>
                
            </div>

            
        </div>

    </div>

</section>
<!-- Блок 1 дестоп -->
 <!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center mt-30"
  style="background-image: url('/static/image/about-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/10"></div>

  <!-- текст слева -->
        <div class="max-w-xl text-white p-10 mt-20">
            
            <h3 class="text-2xl font-bold leading-tight mb-6 font-manrope">
                МІСЦE ЗМІН<br><span class="text-[#5ACAFA] font-light text-4xl">Сталева Пума</span>
            </h3>
            <h4 class="text-sm font-light leading-tight mb-6 font-manrope max-w-lg montserrat leading-[1.6] mt-5">
                Ласкаво просимо до «Сталевої Пуми» – нового фітнес-клубу, у якому сучасність поєднується з професіоналізмом! У нас ви знайдете найновіше обладнання, просторі тренажерні зали та комфортну атмосферу для тренувань будь-якого рівня.
            </h4>
            <h4 class="text-sm font-light leading-tight mb-6 font-manrope max-w-lg montserrat leading-[1.6]">
                Наші професійні тренери допоможуть досягти поставлених цілей, а групові заняття зроблять тренування ще й цікавішими та ефективнішими.
            </h4>

            <div class="flex flex-row flex-wrap gap-5 mt-20">
                <a href="https://t.me/+380636364320" target="_blank" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px] hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <span class="font-medium text-center">
                        Записатись
                    </span>

                </a>

            </div>
             <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
                </div></a>
                
            </div>

            
        </div>

</section>
<!-- Блок 1 мобайл -->
<!-- ------------------блок2---------------------- -->
<!-- блок текст по середире --> 
<section  class="flex justify-center items-center py-10 mt-10 p-2">
    <h4 class="text-2xl sm:text-3xl font-normal leading-tight font-manrope text-center text-white uppercase">У нас ви знайдете все<br><span class="text-[#5ACAFA] font-bold text-2xl sm:text-5xl">що є в сучасному<br>фітнес-клубі</span></h4>
</section>
<!-- блок текст по середире -->
 
<!-- ------------------блок3 карты---------------------- -->
<section class="bg-black py-20 px-10">

    <!-- GRID -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-fit mx-auto">

        <!-- CARD -->
        <div class="relative max-w-[300px] sm:max-w-[400px] h-[500px] sm:h-[600px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card1.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    

                    <!-- текст -->
                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">
                        ОСНОВА БУДЬ-ЯКОГО ЗАЛУ, це силові тренування
                    </span>
                    <!-- картинка -->
                    <img src="{% static 'image/decor.svg' %}" 
                         alt="logo"
                         class="w-10 sm:w-14 drop-shadow-[0_0_10px_#5ACAFA]" loading="lazy">
                    

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">
                    СИЛОВІ<br>
                        ТРЕНУВАННЯ
                    </h3>

                    

                </div>

            </div>

        </div>
        <!-- CARD -->

        <!-- CARD -->
        <div class="relative max-w-[300px] sm:max-w-[400px] h-[500px] sm:h-[600px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card2.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    

                    <!-- текст -->
                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">                   
                        ТОПОВІ БІГОВІ ДОРІЖКИ, та інші тренажери для кардіо
                    </span>
                    <!-- картинка -->
                    <img src="{% static 'image/decor.svg' %}" 
                         alt="logo"
                         class="w-10 sm:w-14 drop-shadow-[0_0_10px_#5ACAFA]" loading="lazy">
                    

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">
                     КАРДІОЗОНА
                    </h3>

                    

                </div>

            </div>

        </div>
        <!-- CARD -->
          <!-- CARD -->
        <div class="relative max-w-[300px] sm:max-w-[400px] h-[500px] sm:h-[600px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card3.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    

                    <!-- текст -->
                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">                                    
                        ДОЛУЧАЙСЯ ДО ГРУПОВИХ ЗАНЯТЬ з тренером
                    </span>
                    <!-- картинка -->
                    <img src="{% static 'image/decor.svg' %}" 
                         alt="logo"
                         class="w-10 sm:w-14 drop-shadow-[0_0_10px_#5ACAFA]" loading="lazy">
                    

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">
                        ГРУПОВІ<br>ЗАНЯТТЯ
                    </h3>

                    

                </div>

            </div>

        </div>
        <!-- CARD -->
            <!-- CARD -->
        <div class="relative max-w-[300px] sm:max-w-[400px] h-[500px] sm:h-[600px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card4.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    

                    <!-- текст -->
                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">                                    
                        Персональні тренування з кваліфікованим тренером
                    </span>
                    <!-- картинка -->
                    <img src="{% static 'image/decor.svg' %}" 
                         alt="logo"
                         class="w-10 sm:w-14 drop-shadow-[0_0_10px_#5ACAFA]" loading="lazy">
                    

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">
                        ПЕРСОНАЛЬНІ<br>ТРЕНУВАННЯ
                    </h3>

                    

                </div>

            </div>

        </div>
        <!-- CARD -->





       

    </div>

    <!-- ОДНА КАРТОЧКА скрываем -->
    <div class="hidden lg:flex justify-center mt-4">

        <div class="relative w-[800px] h-[400px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card5.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">          
                        ПІДБІР ХАРЧУВАННЯ, АНАЛІЗ<br>РАЦІОНУ ТА КОНТРОЛЬ<br>РЕЗУЛЬТАТІВ
                    </span>

                    <img src="{% static 'image/decor.svg' %}" 
                        alt="logo"
                        class="w-14 drop-shadow-[0_0_10px_#5ACAFA]" 
                        loading="lazy">

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">         
                        КОНСУЛЬТАЦІЇ<br> НУТРИЦІОЛОГА
                    </h3>

                </div>

            </div>

        </div>

    </div>
    <!-- ОДНА КАРТОЧКА розкрываем -->
    <div class="flex justify-center mt-4 lg:hidden mt-4">

        <div class="relative max-w-[300px] sm:max-w-[400px] h-[500px] sm:h-[600px] rounded-[50px] border-[2px] border-[#5ACAFA] overflow-hidden bg-cover bg-center p-8 flex flex-col justify-between"
            style="background-image: url('/static/image/card51.svg');">

            <!-- затемнение -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- контент -->
            <div class="relative z-10 flex flex-col h-full justify-between">

                <!-- верх -->
                <div class="flex items-start justify-between">

                    <span class="text-white text-xs sm:text-lg uppercase tracking-[2px]">
                        ПІДБІР ХАРЧУВАННЯ, АНАЛІЗ<br>РАЦІОНУ ТА КОНТРОЛЬ<br>РЕЗУЛЬТАТІВ
                    </span>

                    <img src="{% static 'image/decor.svg' %}" 
                        alt="logo"
                        class="w-10 sm:w-14 drop-shadow-[0_0_10px_#5ACAFA]" 
                        loading="lazy">

                </div>

                <!-- низ -->
                <div>

                    <h3 class="text-[#5ACAFA] text-2xl sm:text-4xl font-bold leading-tight uppercase">
                        КОНСУЛЬТАЦІЇ<br>
                        НУТРИЦІОЛОГА
                    </h3>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- ------------------блок3 карты---------------------- -->

<!-- блок кнопка  по середире --> 
<section  class="flex justify-center items-center py-10 mt-10 p-2">
    <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">
          <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
    </a>
   
</section>
<!-- блок кнопка  по середире -->

<!-- ------------------блок1---------------------- -->

<!-- ------------------footer---------------------- -->
<!-- Блок дестоп -->
 <section class="hidden md:flex relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/footer.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-center text-white mt-40">
    <img src="{% static 'image/logo.svg' %}" alt="logo" class="w-40 mx-auto mb-10" loading="lazy">
     <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    <h3 class="text-7xl font-bold leading-tight mb-6 font-manrope uppercase mt-5">
        Змінюйте тіло <br>та розум
    </h3>
    <div class="mt-10 flex flex-row gap-5 items-center justify-center gap-[50px]">
        <a href="#"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
            </div>
        </a>
    </div>
    <div class="mt-10 flex flex-row gap-2 items-center justify-center gap-[50px]">
        <a href="https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D" target="_blank"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/instagram.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
         <a href="https://www.facebook.com/"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/facebook.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
    </div>
    <div class="relative flex items-center justify-center gap-2 text-white text-sm flex-col mt-10 mb-5 z-10">

    <a href="https://www.web-mars.com/" target="_blank" class="relative z-10">

        <img src="{% static 'image/mars.svg' %}" 
             alt="logo"
             class="w-20 transition duration-500 
                    hover:scale-110 
                    hover:drop-shadow-[0_0_12px_#5ACAFA]
                    active:scale-95">

    </a>

</div>

  </div>
</section>
<!-- Блок дестоп -->
 <!-- Блок дестоп -->
 <section class="block md:hidden relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/footer-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-center text-white mt-50 p-10">
    <img src="{% static 'image/logo.svg' %}" alt="logo" class="w-40 mx-auto mb-10" loading="lazy">
     <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    <h3 class="text-4xl font-bold leading-tight mb-6 font-manrope uppercase mt-5">
        Змінюйте<br>тіло та</span> <br> розум
    </h3>
    <div class="mt-10 flex flex-row gap-5 items-center justify-center gap-[50px]">
        <a href="#"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                <p class="text-sm font-medium font-manrope text-[#5ACAFA]">м. Київ, пр-т Берестейський, 131-А</p>
            </div>
        </a>
    </div>
    <div class="mt-10 flex flex-row gap-2 items-center justify-center gap-[50px]">
        <a href="https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D" target="_blank"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/instagram.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
         <a href="https://www.facebook.com/"> 
            <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                <img src="{% static 'image/facebook.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
            </div>
        </a>
    </div>
   <div class="relative flex items-center justify-center gap-2 text-white text-sm flex-col mt-10 mb-5 z-10">

    <a href="https://www.web-mars.com/" target="_blank" class="relative z-10">

        <img src="{% static 'image/mars.svg' %}" 
             alt="logo"
             class="w-20 transition duration-500 
                    hover:scale-110 
                    hover:drop-shadow-[0_0_12px_#5ACAFA]
                    active:scale-95">
    </a>

</div>

  </div>
</section>
<!-- Блок дестоп -->

 <!-- ------------------footer---------------------- -->



{% endblock %}