{% extends "shop/base.html" %}
{% load static %}

{% block content %}
{% block title %}Новини | Фітнес-клуб Сталева Пума{% endblock %}

{% block description %}
Останні новини фітнес-клубу Сталева Пума: акції, оновлення залу, події та важливі оголошення для клієнтів.
{% endblock %}
<!-- ------------------блок1---------------------- -->
<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center"
    style="background-image: url('/static/image/news.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/40"></div>

    <!-- контент -->
    <div class="relative z-10 flex items-center w-full px-16">

        <!-- текст слева -->
        <div class="max-w-2xl text-white">
            <div class="flex flex-row flex-wrap items-center mb-8 gap-4">
                <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
                <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
            </div>
           <div x-data="{ show: false }"
     x-init="setTimeout(() => show = true, 200)">

    <h1 
        x-show="show"
        x-transition:enter="transition-all ease-in-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
        x-transition:enter-end="opacity-100 translate-y-0 blur-0"
        class="text-8xl font-bold leading-tight mb-6 font-manrope">

        Новини<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span> 
    </h1>

</div>


            <h2 class="text-lg text-gray-100 mb-8 font-manrope max-w-md font-light">
                Стеж за нашими новинами<br><span class="text-[#5ACAFA] font-light"></span> на нашому сайті.
            </h2>

            <div class="flex flex-row flex-wrap gap-5">
               <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                </a>

                <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px] hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <span class="font-medium text-center">
                        Ціни
                    </span>

                </a>

            </div>
            <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">ЗНАЙДИ НАС НА КАРТІ</p>
                </div></a>
            </div>
        </div>
    </div>
</section>
<!-- Блок 1 дестоп -->

<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/news-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-left text-white p-5">
    <div class="flex flex-row flex-wrap items-center mb-8 gap-4 mt-10">
        <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
        <p class="text-sm font-normal font-manrope text-white"><span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    </div>
    <div x-data="{ show: false }"
        x-init="setTimeout(() => show = true, 200)">

        <h1 
            x-show="show"
            x-transition:enter="transition-all ease-in-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
            x-transition:enter-end="opacity-100 translate-y-0 blur-0"
            class="text-5xl font-bold leading-tight mb-6 font-manrope">

            Новини<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span> 
        </h1>

    </div>

     <!-- <h1 class="text-5xl font-bold leading-tight mb-6 font-manrope">
        СИЛА <span class="text-[#5ACAFA] font-light">ФОКУС</span> <br>ХАРАКТЕР
     </h1> -->

     <h2 class="text-xl text-gray-100 mb-8 font-manrope max-w-md font-light">
        Стеж за нашими новинами<br><span class="text-[#5ACAFA] font-light"></span> на нашому сайті.
     </h2>

                <div class="flex flex-row flex-wrap gap-5">
                    <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                    </a>

                    <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px]">

                        <span class="font-medium text-center">
                            Ціни
                        </span>

                    </a>

                </div>
            <div class="mt-10 flex flex-row gap-5 items-center gap-[50px]">
                <a href="#"> <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">
                    <img src="{% static 'image/Map.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-5" loading="eager">
                    <p class="text-sm font-medium font-manrope text-[#5ACAFA]">На карті</p>
                </div></a>

            </div>

  </div>

</section>
<!-- Блок 1 мобайл -->

<!-- ------------------nexs---------------------- -->
<section class="mt-20 p-5 mb-10">
    <div class="w-full h-[250px] md:h-[400px] lg:h-[500px] overflow-hidden ">
        <img src="{% static 'image/galery22.webp' %}" 
        alt="news-fon-staleva-puma" 
        class="w-full h-full object-cover" 
        loading="lazy">
    </div>
</section>

<section class="w-full max-w-6xl mx-auto px-4">

    <div class="flex flex-col md:flex-row md:items-start md:justify-between gap-6">

        <!-- LEFT: TITLE -->
        <div class="flex flex-col gap-5 ">
            <h2 class="text-3xl md:text-5xl font-bold uppercase text-[#5ACAFA]">  
                Безкоштовні майстер-класи
            </h2>

                <div class="flex flex-row gap-2 items-center">
                    <a href="https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D" target="_blank"> 
                        <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                            <img src="{% static 'image/instagram.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
                        </div>
                    </a>
                    <a href="https://www.facebook.com/"> 
                        <div class="flex flex-row gap-2 items-center cursor-pointer hover:scale-105 transition ">
                            <img src="{% static 'image/facebook.svg' %}" alt="Map-Staleva-Puma-Kyiv" class="w-10" loading="lazy">
                        </div>
                    </a>
                </div>
          
            <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA] mt-10 mb-5">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                </a>
         </div>
        

        <!-- RIGHT: DESCRIPTION -->
        <p class="text-sm md:text-lg text-gray-300 max-w-xl leading-relaxed mb-5">
            Tae-bo: 18.30- 19.00<br>
            Functional training: 19.05-19.35<br>
            Barre: 19.40-20.10<br>
            Pilates mat work: 20.15-20.45.<br>
            Tae-bo (кардіо тренування з використанням елементів східних єдиноборств). Підходить як чоловікам, так й жінкам. Середнє/високе навантаження.<br>
            Functional training (функціональне заняття для всіх груп м’язів, де використовується додаткова вага + вага власного тіла). Підходить як чоловікам, так й жінкам. Середнє/високе навантаження.<br>
            Barre (фітнес + рухи из балетних постановок, грація, жіноча сила, баланс). Найбільш підходить для жінок, що не хочуть бути занадто фізично перезавантаженими, але все ж мати рух та підтягнуте тіло.<br>
            Pilates mat work – або ж пілатес на килимку. Для тих хто шукає здоровий фітнес.<br>
            Попередній запис обов’язковий: кількість місць у групах – обмежена. Запис на сайті або у адміністратора за телефоном: 063-63-64-320.
        </p>

    </div>
</section>
<hr class="border-t-2 border-[#5ACAFA] my-10 mx-10 mb-10 mt-10">
<!-- ------------------nexs---------------------- -->
{% endblock %}
