{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<!-- ------------------блок1---------------------- -->
<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center"
    style="background-image: url('/static/image/rew-bot.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/50"></div>

    <!-- контент -->
    <div class="relative z-10 flex items-center w-full px-16">

        <!-- текст слева -->
        <div class="max-w-2xl text-white">
            <div class="flex flex-row flex-wrap items-center mb-8 gap-4">
                <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
                <p class="text-sm font-normal font-manrope text-white">фітнес-клуб<span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
            </div>
           <div x-data="{ show: false }"
     x-init="setTimeout(() => show = true, 200)">

    <h1 
        x-show="show"
        x-transition:enter="transition-all ease-in-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
        x-transition:enter-end="opacity-100 translate-y-0 blur-0"
        class="text-8xl font-bold leading-tight mb-6 font-manrope">

        Правила<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span> 
    </h1>

</div>


            <h2 class="text-lg text-gray-100 mb-8 font-manrope max-w-md font-light">
                Загальні правила перебування<br>
                на території фітнес-простору</span>
            </h2>

            <div class="flex flex-row flex-wrap gap-5">
               <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                </a>

                <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px] hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <span class="font-medium text-center">
                        Ціни
                    </span>

                </a>

            </div>
        </div>
    </div>
</section>
<!-- Блок 1 дестоп -->

<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center"
  style="background-image: url('/static/image/rew-bot-mob.webp');">

  <!-- затемнение -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- контент -->
  <div class="relative z-10 w-full px-16 text-left text-white p-5">
    <div class="flex flex-row flex-wrap items-center mb-8 gap-4 mt-10">
        <img src="{% static 'image/logo-home.svg' %}" alt="logo-home" class="w-10" loading="eager">
        <p class="text-sm font-normal font-manrope text-white"><span class="text-[#5ACAFA] uppercase font-light">&nbsp;&nbsp;Сталева пума</span></p>
    </div>
    <div x-data="{ show: false }"
        x-init="setTimeout(() => show = true, 200)">

        <h1 
            x-show="show"
            x-transition:enter="transition-all ease-in-out duration-1000"
            x-transition:enter-start="opacity-0 translate-y-10 blur-sm"
            x-transition:enter-end="opacity-100 translate-y-0 blur-0"
            class="text-5xl font-bold leading-tight mb-6 font-manrope">
            Правила<br><span class="text-[#5ACAFA] font-light">Сталева Пума</span> 
        </h1>

    </div>

     <!-- <h1 class="text-5xl font-bold leading-tight mb-6 font-manrope">
        СИЛА <span class="text-[#5ACAFA] font-light">ФОКУС</span> <br>ХАРАКТЕР
     </h1> -->

     <h2 class="text-xl text-gray-100 mb-8 font-manrope max-w-md font-light">
           Загальні правила перебування<br>на території фітнес-простору
     </h2>
      <div class="flex flex-row flex-wrap gap-5">
                    <a href="https://t.me/+380636364320" target="_blank" class="flex items-center justify-between bg-[#5ACAFA] text-black rounded-full px-2  py-1 w-[200px] hover:scale-105 transition hover:drop-shadow-[0_0_10px_#5ACAFA]">

                    <!-- текст -->
                    <span class="font-medium pl-8 font-manrope font-medium ">
                        Записатись
                    </span>

                    <!-- чёрный круг со стрелкой -->
                    <div class="w-9 h-9 bg-black rounded-full flex items-center justify-center">
                        <svg class="w-6 h-6 text-white rotate-[-45deg]" fill="none" stroke="currentColor" stroke-width="2"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 12h14M13 5l7 7-7 7" />
                        </svg>
                    </div>
                    </a>

                    <a href="#" class="inline-flex items-center justify-center border border-[#5ACAFA] text-[#5ACAFA] rounded-full px-6 py-3 hover:bg-white hover:text-black transition w-[200px]">

                        <span class="font-medium text-center">
                            Ціни
                        </span>

                    </a>

                </div>

               

  </div>

</section>
<!-- Блок 1 мобайл -->

<!-- ------------------nexs---------------------- -->

<!-- Блок 1 мобайл -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center items-center justify-center"
  style="background-image: url('/static/image/rew1.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/60"></div>

    <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-2">

        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">1</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                    Основні положення
            </h2>
        </div>

        <p class="text-sm font-normal font-manrope text-left tracking-widest mt-5">
            <span class="text-[#5ACAFA]">1.1 </span>
            Ці Правила відвідування фітнес-клубу «Сталева пума» [ далі – Правила ] розроблені з метою створення безпечних та комфортних умов для тренувань.
        </p>

         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">1.2</span> Правила обов’язкові до виконання для всіх відвідувачів фітнес-клубу «Сталева пума» (далі за текстом – Клуб). У разі порушення цих Правил адміністрація Клубу залишає за собою право щодо дострокового припинення дії абонементу (далі – Абонемент), без компенсації його вартості.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">1.3 </span>З чинними Правилами можна ознайомитись на сайті Клубу та, за потреби, на стойці адміністратора.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">1.4</span>
                У разі потреби Правила можуть бути переглянуті чи доповнені. Попередня редакція Правил з цього дня вважається такою, що втратила чинність. Клієнт погоджується з тим, що будь-які зміни до цих Правил впроваджуються в односторонньому порядку. У разі внесення змін до цих Правил, адміністрація Клубу повідомляє інформацію про зміни до відома Клієнта шляхом розміщення нової редакції Правил на сайті Клубу. Індивідуального повідомлення про це Клієнтові або підписання додаткових угод для набрання чинності змінами до Правил не вимагається. Зміна Правил здійснюється на власний розсуд адміністрації Клубу
        </p>

    </div>

</section>
<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center items-center justify-center"
  style="background-image: url('/static/image/rew1-mob.webp');">

  <!-- затемнение -->
    <div class="absolute inset-0 bg-black/40"></div>

      <!-- текст -->
        <div class="w-full max-w-xl text-white relative z-10 p-5">
            <div class="flex flex-row flex-wrap items-center mb-8 gap-4 mt-10"> 
                <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center">
                    <span class="text-black text-xl font-bold">1</span>
                </div>
                 <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                    Основні положення
                </h2>
            </div>
                
            
        <p class="text-sm font-normal font-manrope text-left tracking-widest text-white mt-5">
            <span class="text-[#5ACAFA]">1.1</span>
            Ці Правила відвідування фітнес-клубу «Сталева пума» [ далі – Правила ] розроблені з метою створення безпечних та комфортних умов для тренувань.
        </p>

         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">1.2</span> Правила обов’язкові до виконання для всіх відвідувачів фітнес-клубу «Сталева пума» (далі за текстом – Клуб). У разі порушення цих Правил адміністрація Клубу залишає за собою право щодо дострокового припинення дії абонементу (далі – Абонемент), без компенсації його вартості.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">1.3 </span>З чинними Правилами можна ознайомитись на сайті Клубу та, за потреби, на стойці адміністратора.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">1.4</span>
                У разі потреби Правила можуть бути переглянуті чи доповнені. Попередня редакція Правил з цього дня вважається такою, що втратила чинність. Клієнт погоджується з тим, що будь-які зміни до цих Правил впроваджуються в односторонньому порядку. У разі внесення змін до цих Правил, адміністрація Клубу повідомляє інформацію про зміни до відома Клієнта шляхом розміщення нової редакції Правил на сайті Клубу. Індивідуального повідомлення про це Клієнтові або підписання додаткових угод для набрання чинності змінами до Правил не вимагається. Зміна Правил здійснюється на власний розсуд адміністрації Клубу
        </p>

    </div>




</section>

<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew2.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/60"></div>

    <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-2">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">2</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Загальні правила фітнес-клубу "Сталева Пума"
            </h2>
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">2.1 </span> Для відвідування Клубу клієнт має зареєструватися у адміністратора за визначеною формою та придбати Абонемент або разове відвідування, відповідно до чинного Прайс-листу на послуги, з яким можна ознайомитися на сайті Клубу. Абонемент є іменним і не може бути переданий третім особам, без дозволу або погодження з адміністрацією Клубу.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]"> 2.2 </span> На час відвідуванні Клубу клієнтові видається ключ від шафки в роздягальні, за який той несе особисту відповідальність під час користування послугами Клубу. По закінченні відвідування клієнт, в обов’язковому порядку, має звільнити шафку в роздягальні та повернути ключ адміністраторові.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">2.3 </span> З чинними Правилами можна ознайомитись на сайті Клубу та, за потреби, на стойці адміністратора.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.4</span> Адміністрація Клубу залишає за собою право, на свій розсуд і без погодження з клієнтами, змінювати час роботи Клубу, розклад тренувань, замінювати тренера на іншого та інше, на тимчасовій або постійній основі, про що адміністрація Клубу завчасно повідомляє відвідувачів шляхом розміщення відповідної інформації на сайті Клубу або будь-яким іншим шляхом, відповідно до обставин.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.5</span> Оплата Абонементів здійснюється клієнтами у готівковій та безготівковій формі у національній валюті, відповідно до Прайс-листа, що розміщений на сайті Клубу.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.6</span> Надаючи послуги тренажерного залу та групових занять Клуб керується тим, що клієнт не має протипоказань для занять фізичною культурою. У разі наявності будь-яких протипоказань або застережень клієнт зобов’язаний заздалегідь повідомити про це адміністрацію Клубу. Наявність протипоказань стає очевидною у разі, якщо Клієнт надає витяг з медичної документації лікувального закладу, що надає медичну допомогу Клієнтові на постійній основі. Виписка має містити рекомендації лікаря щодо можливого та допустимого фізичного навантаження для Клієнта під час фізичних навантажень.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.7</span> Клієнт несе повну персональну відповідальність за своє здоров’я та свідомо звільняє Клуб від будь-якої відповідальності за можливі нещасні випадки, які можуть статися з ним на території Клубу.
        </p>

    </div>

</section>
<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew2-mob.webp');">

  <!-- затемнение -->
    <div class="absolute inset-0 bg-black/60"></div>

    <!-- текст -->
    <div class="w-full max-w-2xl text-white relative z-10 p-5">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">2</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Загальні правила фітнес-клубу "Сталева Пума"
            </h2>
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">2.1 </span> Для відвідування Клубу клієнт має зареєструватися у адміністратора за визначеною формою та придбати Абонемент або разове відвідування, відповідно до чинного Прайс-листу на послуги, з яким можна ознайомитися на сайті Клубу. Абонемент є іменним і не може бути переданий третім особам, без дозволу або погодження з адміністрацією Клубу.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]"> 2.2 </span> На час відвідуванні Клубу клієнтові видається ключ від шафки в роздягальні, за який той несе особисту відповідальність під час користування послугами Клубу. По закінченні відвідування клієнт, в обов’язковому порядку, має звільнити шафку в роздягальні та повернути ключ адміністраторові.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">2.3 </span> З чинними Правилами можна ознайомитись на сайті Клубу та, за потреби, на стойці адміністратора.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.4</span> Адміністрація Клубу залишає за собою право, на свій розсуд і без погодження з клієнтами, змінювати час роботи Клубу, розклад тренувань, замінювати тренера на іншого та інше, на тимчасовій або постійній основі, про що адміністрація Клубу завчасно повідомляє відвідувачів шляхом розміщення відповідної інформації на сайті Клубу або будь-яким іншим шляхом, відповідно до обставин.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.5</span> Оплата Абонементів здійснюється клієнтами у готівковій та безготівковій формі у національній валюті, відповідно до Прайс-листа, що розміщений на сайті Клубу.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.6</span> Надаючи послуги тренажерного залу та групових занять Клуб керується тим, що клієнт не має протипоказань для занять фізичною культурою. У разі наявності будь-яких протипоказань або застережень клієнт зобов’язаний заздалегідь повідомити про це адміністрацію Клубу. Наявність протипоказань стає очевидною у разі, якщо Клієнт надає витяг з медичної документації лікувального закладу, що надає медичну допомогу Клієнтові на постійній основі. Виписка має містити рекомендації лікаря щодо можливого та допустимого фізичного навантаження для Клієнта під час фізичних навантажень.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">2.7</span> Клієнт несе повну персональну відповідальність за своє здоров’я та свідомо звільняє Клуб від будь-якої відповідальності за можливі нещасні випадки, які можуть статися з ним на території Клубу.
        </p>

    </div>
</section>

<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew3.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/70"></div>

    <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-2">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">3</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Правила техніки безпеки під час занять
            </h2>   
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">3.1 </span>Приступати до занять у Клубі можна лише після ознайомлення із цими Правилами техніки безпеки.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]"> 3.2 </span> До самостійних занять у тренажерній залі допускаються особи, які досягли 16-річного віку.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">3.3 </span> Діти до 12 років можуть відвідувати тренажерну залу виключно у супроводі батьків або довірених осіб сім’ї, не молодших 18 років. Діти з 12 років можуть відвідувати тренажерну залу з письмового дозволу батьків, складеного безпосередньо в Клубі та під обов’язковим наглядом тренера, з урахуванням діючого тарифу.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.4</span>Заняття у Клубі дозволені лише у чистому (змінному) спортивному взутті. Рекомендується використовувати зручне закрите взуття з гумовою та нековзною підошвою. Заборонено використовувати взуття на високих підборах, зі шкіряною підошвою, з шипами, тренуватися босоніж або у відкритому взутті, зокрема – у капцях. Вхід до тренувальних приміщень або прохід через них, здійснюється у змінному взутті або у бахилах, що надаються адміністрацією Клубу, незалежно від пори року. Забороняється займатися у тренажерній залі з голим торсом.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.5</span> До тренування рекомендується зняти з себе предмети, що становлять небезпеку під час занять у тренажерному залі (годинник, ланцюжки, довгі сережки тощо), прибрати з кишень колючі та інші сторонні предмети, що колються.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.6</span> Для самостійного заняття у тренажерній залі клієнт має ознайомитися з призначенням тренажерів та вільних ваг (інвентарю), основних принципів роботи та основ техніки виконання вправ на них (з ними). Перед початком самостійних занять у тренажерній залі, клієнт має упевнитись у справності та надійності встановлення і кріплення тренажерів, правильності їх налаштування та, у разі сумніву – звернутися за допомогою до чергового інструктора тренажерної зали. Забороняється використовувати тренажери та спортивне обладнання не за призначенням та/або з порушенням правил їх використання та застосування.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.7</span> Під час виконання вправ зі штангою необхідно використовувати замки безпеки. Виконання базових вправ (жим лежачи, присідання зі штангою), а також виконання вправ з обтяженням або вагами, близькими до максимальних, дозволяється тільки при безпосередній страховці з боку досвідченого партнера або інструктора тренажерної зали.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.8</span>З навантаженнями, штангами, гантелями слід поводитися гранично акуратно. Усі вправи мають виконуватися плавно, без ривків. Під час виконанні базових вправ (станова тяга, присідання тощо) необхідно застосовувати атлетичні пояси.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.9</span> Не рекомендується брати млинці, гантелі, грифи штанги вологими або спітнілими руками. Це може призвести до вислизання обтяження з рук та його падіння. Задля дотримання особистої гігієни, під час використання обладнання тренажерної зали, клієнт має використовувати рушник (або паперові серветки), яким протирати м’які частини тренажерів, що використовувалися.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.10</span> Не допускається перевантаження тренажерів понад норму додатковим навішуванням вантажів.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.11</span> Не дозволяється робота на несправних тренажерах. У разі виявлення несправностей (надрив троса, механічні пошкодження) необхідно повідомити про це черговому інструкторові тренажерного залу або адміністратору.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.12</span> Після виконання вправ клієнт має прибрати спортивне обладнання, що використовував (млинці, гантелі, штанги, інвентар і т.д.) на спеціально відведені місця.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.12</span> Після виконання вправ клієнт має прибрати спортивне обладнання, що використовував (млинці, гантелі, штанги, інвентар і т.д.) на спеціально відведені місця.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.13</span> Під час виконання вправ у групах та/або на персональних тренуваннях, клієнт має чітко виконувати вказівки інструктора щодо порядку та методик виконання вправ, правил застосування тренажерів, обладнання та інвентарю.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.14</span> Забороняється приступати до занять у Клубі при незагоєних травмах та загальному нездужанні. При поганому самопочутті під час занять, необхідно припинити тренування і повідомити про це інструкторові тренажерної зали або групових тренувань.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.15</span> Заборонено перебувати у Клубі у стані алкогольного чи наркотичного сп’яніння.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.16</span> У разі запізнення Клієнта на групове заняття більш ніж на 10 хвилин інструктор має право не допустити Клієнта до занять.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.17</span> Не допускається торкатися рухомих частин блокових пристроїв.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.18</span> Не можна ставити пляшки з водою на тренажери, підключені до електромережі.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.19</span> Клієнт має пильно стежити за тим, щоб довге волосся, вільні деталі одягу, шнурки, рушники не потрапляли на частини тренажерів, що рухаються.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.20</span> На початку тренування на біговій доріжці необхідно ставати на підставки по краях полотна, що рухається, встановити мінімальну швидкість і починати тренування після того, як стрічка прийшла в рух. Не можна сходити з тренажера до повної зупинки полотна.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.21</span> Забороняється використання різких та насичених парфумів.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.22</span> Приймання та зберігання їжі в зонах, призначених для тренувань, не дозволяється.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.23</span> Забороняється самостійно регулювати систему кондиціювання та вентиляції залу, гучність трансляції та підбір музичного супроводу. У разі нагальної потреби клієнт має звернутися до чергового інструктора або адміністратора
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.24</span>У разі поломки або псуванні спортивного інвентарю необхідно припинити заняття та повідомити про це чергового інструктора тренажерної зали чи групових тренувань. Заняття продовжуватимуть лише після усунення несправностей або заміни спортивного обладнання (інвентарю).
        </p>

    </div>

</section>
<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew3-mob.webp');">

  <!-- затемнение -->
    <div class="absolute inset-0 bg-black/60"></div>
     <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-5">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">3</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Правила техніки безпеки під час занять
            </h2>   
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">3.1 </span>Приступати до занять у Клубі можна лише після ознайомлення із цими Правилами техніки безпеки.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]"> 3.2 </span> До самостійних занять у тренажерній залі допускаються особи, які досягли 16-річного віку.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">3.3 </span> Діти до 12 років можуть відвідувати тренажерну залу виключно у супроводі батьків або довірених осіб сім’ї, не молодших 18 років. Діти з 12 років можуть відвідувати тренажерну залу з письмового дозволу батьків, складеного безпосередньо в Клубі та під обов’язковим наглядом тренера, з урахуванням діючого тарифу.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.4</span>Заняття у Клубі дозволені лише у чистому (змінному) спортивному взутті. Рекомендується використовувати зручне закрите взуття з гумовою та нековзною підошвою. Заборонено використовувати взуття на високих підборах, зі шкіряною підошвою, з шипами, тренуватися босоніж або у відкритому взутті, зокрема – у капцях. Вхід до тренувальних приміщень або прохід через них, здійснюється у змінному взутті або у бахилах, що надаються адміністрацією Клубу, незалежно від пори року. Забороняється займатися у тренажерній залі з голим торсом.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.5</span> До тренування рекомендується зняти з себе предмети, що становлять небезпеку під час занять у тренажерному залі (годинник, ланцюжки, довгі сережки тощо), прибрати з кишень колючі та інші сторонні предмети, що колються.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.6</span> Для самостійного заняття у тренажерній залі клієнт має ознайомитися з призначенням тренажерів та вільних ваг (інвентарю), основних принципів роботи та основ техніки виконання вправ на них (з ними). Перед початком самостійних занять у тренажерній залі, клієнт має упевнитись у справності та надійності встановлення і кріплення тренажерів, правильності їх налаштування та, у разі сумніву – звернутися за допомогою до чергового інструктора тренажерної зали. Забороняється використовувати тренажери та спортивне обладнання не за призначенням та/або з порушенням правил їх використання та застосування.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.7</span> Під час виконання вправ зі штангою необхідно використовувати замки безпеки. Виконання базових вправ (жим лежачи, присідання зі штангою), а також виконання вправ з обтяженням або вагами, близькими до максимальних, дозволяється тільки при безпосередній страховці з боку досвідченого партнера або інструктора тренажерної зали.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.8</span>З навантаженнями, штангами, гантелями слід поводитися гранично акуратно. Усі вправи мають виконуватися плавно, без ривків. Під час виконанні базових вправ (станова тяга, присідання тощо) необхідно застосовувати атлетичні пояси.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.9</span> Не рекомендується брати млинці, гантелі, грифи штанги вологими або спітнілими руками. Це може призвести до вислизання обтяження з рук та його падіння. Задля дотримання особистої гігієни, під час використання обладнання тренажерної зали, клієнт має використовувати рушник (або паперові серветки), яким протирати м’які частини тренажерів, що використовувалися.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.10</span> Не допускається перевантаження тренажерів понад норму додатковим навішуванням вантажів.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.11</span> Не дозволяється робота на несправних тренажерах. У разі виявлення несправностей (надрив троса, механічні пошкодження) необхідно повідомити про це черговому інструкторові тренажерного залу або адміністратору.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.12</span> Після виконання вправ клієнт має прибрати спортивне обладнання, що використовував (млинці, гантелі, штанги, інвентар і т.д.) на спеціально відведені місця.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.12</span> Після виконання вправ клієнт має прибрати спортивне обладнання, що використовував (млинці, гантелі, штанги, інвентар і т.д.) на спеціально відведені місця.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.13</span> Під час виконання вправ у групах та/або на персональних тренуваннях, клієнт має чітко виконувати вказівки інструктора щодо порядку та методик виконання вправ, правил застосування тренажерів, обладнання та інвентарю.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.14</span> Забороняється приступати до занять у Клубі при незагоєних травмах та загальному нездужанні. При поганому самопочутті під час занять, необхідно припинити тренування і повідомити про це інструкторові тренажерної зали або групових тренувань.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.15</span> Заборонено перебувати у Клубі у стані алкогольного чи наркотичного сп’яніння.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.16</span> У разі запізнення Клієнта на групове заняття більш ніж на 10 хвилин інструктор має право не допустити Клієнта до занять.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.17</span> Не допускається торкатися рухомих частин блокових пристроїв.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.18</span> Не можна ставити пляшки з водою на тренажери, підключені до електромережі.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.19</span> Клієнт має пильно стежити за тим, щоб довге волосся, вільні деталі одягу, шнурки, рушники не потрапляли на частини тренажерів, що рухаються.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.20</span> На початку тренування на біговій доріжці необхідно ставати на підставки по краях полотна, що рухається, встановити мінімальну швидкість і починати тренування після того, як стрічка прийшла в рух. Не можна сходити з тренажера до повної зупинки полотна.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.21</span> Забороняється використання різких та насичених парфумів.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.22</span> Приймання та зберігання їжі в зонах, призначених для тренувань, не дозволяється.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.23</span> Забороняється самостійно регулювати систему кондиціювання та вентиляції залу, гучність трансляції та підбір музичного супроводу. У разі нагальної потреби клієнт має звернутися до чергового інструктора або адміністратора
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-2 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">3.24</span>У разі поломки або псуванні спортивного інвентарю необхідно припинити заняття та повідомити про це чергового інструктора тренажерної зали чи групових тренувань. Заняття продовжуватимуть лише після усунення несправностей або заміни спортивного обладнання (інвентарю).
        </p>

    </div>
</section>

<!-- Блок 1 дестоп -->
<section class="hidden md:flex relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew4.webp');">

    <!-- затемнение -->
    <div class="absolute inset-0 bg-black/60"></div>

    <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-2">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">4</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Правила техніки безпеки під час занять
            </h2>   
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">4.1 </span>Відвідувачі мають залишати тренувальні зони Клубу не пізніш як за 20 хвилин до закінчення роботи Клубу та покидати приміщення до встановленого часу закриття.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">4.2 </span> Адміністрація Клубу не несе відповідальності за забуті, втрачені, вкрадені чи залишені у роздягальнях, гардеробі та на тренувальних територіях речі клієнта чи осіб, за яких він відповідає.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">4.3 </span> У разі псування інвентарю та майна Клубу, клієнт має відшкодувати заподіяну шкоду у розмірі, що буде встановлений адміністрацією Клубу.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.4</span> У разі пожежі необхідно негайно перервати заняття та залишити приміщення, слідуючи до евакуаційного виходу відповідно до плану евакуації.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.5</span> На території Клубу категорично забороняється куріння, носіння та зберігання будь-якої зброї, вживання спиртних напоїв, наркотичних засобів та їх аналогів.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.6</span> На території Клубу забороняється розповсюдження та купівля-продаж наркотичних засобів та їх аналогів, будь-яких медикаментів, спиртних напоїв.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.7</span>  Забороняється входити у службові та технічні приміщення, без запрошення та відома персоналу, самостійно регулювати будь-яке інженерно-технічне обладнання.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.8</span> На території Клубу слід дотримуватись правил поведінки. Забороняється голосно та агресивно розмовляти, використовувати ненормативну лексику, виявляти расову, релігійну, національну та будь-яку іншу дискримінацію та нетерпимість
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.9</span> Не допускається груба поведінка, непристойні жести, нецензурні, голосні, образливі висловлювання та погрози щодо персоналу та інших відвідувачів клубу.
        </p>
       
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.10</span> Будь-які публічні акції, не погоджені з адміністрацією Клубу, використання гучномовних пристроїв, якщо це заважає будь-якій особі, заборонено.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.11</span> Перебуваючи на території Клубу, клієнт має діяти згідно з правилами громадського порядку, не турбувати інших відвідувачів Клубу, дотримуватись чистоти, порядку, правил гігієни, санітарії та пожежної безпеки.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.12</span> Клієнт, під час відвідуванні Клубу має безумовно дотримуватися цих Правил і нести відповідальність за неправильне звернення та псування майна Клубу.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.13</span> Адміністрація Клубу, у разі порушення Клієнтом цих Правил, має право заборонити Клієнтові відвідування Клубу без фінансової компенсації.
        </p>

    </div>

</section>
<!-- Блок 1 мобайл -->
<section class="block md:hidden relative min-h-screen bg-cover bg-center items-center justify-center mt-20"
  style="background-image: url('/static/image/rew4-mob.webp');">

  <!-- затемнение -->
    <div class="absolute inset-0 bg-black/30"></div>

    <!-- текст -->
    <div class="w-full max-w-4xl text-white relative z-10 p-5">
        <div class="flex flex-row flex-wrap items-center gap-4 "> 
            <div class="w-14 h-14 rounded-full bg-[#5ACAFA] flex items-center justify-center gap-4">
                <span class="text-black text-xl font-bold">4</span>
               
            </div>
            <h2 class="text-2xl font-bold font-manrope text-left text-[#5ACAFA] uppercase">
                Правила техніки безпеки під час занять
            </h2>   
        </div>

        <p class="text-sm font-normal font-manrope text-left mt-5 tracking-widest">
            <span class="text-[#5ACAFA]">4.1 </span>Відвідувачі мають залишати тренувальні зони Клубу не пізніш як за 20 хвилин до закінчення роботи Клубу та покидати приміщення до встановленого часу закриття.
        </p>

        <p class="text-sm font-normal font-manrope text-left mt-2 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">4.2 </span> Адміністрація Клубу не несе відповідальності за забуті, втрачені, вкрадені чи залишені у роздягальнях, гардеробі та на тренувальних територіях речі клієнта чи осіб, за яких він відповідає.
            
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey tracking-widest">
            <span class="text-[#5ACAFA]">4.3 </span> У разі псування інвентарю та майна Клубу, клієнт має відшкодувати заподіяну шкоду у розмірі, що буде встановлений адміністрацією Клубу.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.4</span> У разі пожежі необхідно негайно перервати заняття та залишити приміщення, слідуючи до евакуаційного виходу відповідно до плану евакуації.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.5</span> На території Клубу категорично забороняється куріння, носіння та зберігання будь-якої зброї, вживання спиртних напоїв, наркотичних засобів та їх аналогів.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.6</span> На території Клубу забороняється розповсюдження та купівля-продаж наркотичних засобів та їх аналогів, будь-яких медикаментів, спиртних напоїв.

        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.7</span>  Забороняється входити у службові та технічні приміщення, без запрошення та відома персоналу, самостійно регулювати будь-яке інженерно-технічне обладнання.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.8</span> На території Клубу слід дотримуватись правил поведінки. Забороняється голосно та агресивно розмовляти, використовувати ненормативну лексику, виявляти расову, релігійну, національну та будь-яку іншу дискримінацію та нетерпимість
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.9</span> Не допускається груба поведінка, непристойні жести, нецензурні, голосні, образливі висловлювання та погрози щодо персоналу та інших відвідувачів клубу.
        </p>
       
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.10</span> Будь-які публічні акції, не погоджені з адміністрацією Клубу, використання гучномовних пристроїв, якщо це заважає будь-якій особі, заборонено.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.11</span> Перебуваючи на території Клубу, клієнт має діяти згідно з правилами громадського порядку, не турбувати інших відвідувачів Клубу, дотримуватись чистоти, порядку, правил гігієни, санітарії та пожежної безпеки.
        </p>
        <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.12</span> Клієнт, під час відвідуванні Клубу має безумовно дотримуватися цих Правил і нести відповідальність за неправильне звернення та псування майна Клубу.
        </p>
         <p class="text-sm font-normal font-manrope text-left mt-5 text-grey-300 tracking-widest">
            <span class="text-[#5ACAFA]">4.13</span> Адміністрація Клубу, у разі порушення Клієнтом цих Правил, має право заборонити Клієнтові відвідування Клубу без фінансової компенсації.
        </p>

    </div>

    
</section>

{% endblock %}