{% load static %}
<!DOCTYPE html>
<html lang="ru" class="scroll-smooth">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BASIC SEO -->
    <title>{% block title %}Фітнес-клуб Сталева Пума{% endblock %}</title>

    <meta name="description" content="{% block description %}Фітнес-клуб у Києві: сучасний зал, тренування, групові заняття, кардіо та силові програми. Адреса: пр-т Берестейський, 131-А. Телефон: +380636364320 {% endblock %}">

    <meta name="keywords" content="фітнес Київ, тренажерний зал Київ, Сталева Пума, спорт клуб Київ, тренування Київ ">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CANONICAL -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="Фітнес-клуб Сталева Пума">
    <meta property="og:description" content="Сучасний фітнес-клуб у Києві. Тренажерний зал, кардіо, групові тренування. Адрес: Київ пр-т Берестейський, 131-А. Телефон: +380636364320 ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'favicon/og-image.jpg' %}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">


    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">

    <!-- LOCAL BUSINESS SCHEMA (AI + GOOGLE RICH RESULTS) -->
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "SportsActivityLocation",
        "name": "Фітнес-клуб Сталева Пума",
        "email": "jagiron@ukr.net",
        "image": "https://your-domain.com/static/favicon/og-image.jpg",
        "description": "Сучасний фітнес-клуб у Києві з професійним обладнанням та груповими заняттями.",
        "url": "{{ request.build_absolute_uri }}",
        "telephone": "+380636364320",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "пр-т Берестейський, 131-А",
            "addressLocality": "Київ",
            "addressCountry": "UA"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 50.4501,
            "longitude": 30.5234
        },
        "sameAs": [
            "https://t.me/380636364320",
            "https://maps.google.com/?q=м.+Київ,+пр-т+Берестейський,+131-А",
            "https://www.instagram.com/staleva_puma?utm_source=qr&igsh=MWs5eGUxbTdrOXJzbg%3D%3D"
        ]
        }
    </script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Marck+Script&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- Alpine.jsAlpine.js — “легкий Vue для маленьких интерактивных частей сайта” меню выпадающие списки -->
    <script src="//unpkg.com/alpinejs" defer></script>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Подключаем кастомные шрифты через Tailwind config inline -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        montserrat: ['Montserrat', 'sans-serif'],
                        manrope: ['Manrope', 'sans-serif'],
                    }
                }
            }
        }
    </script>

</head>
<!-- цвет всего текста бэкграунд -->
<body class="bg-[#000000]">
    <!-- меню ВСЕГДА будет -->
    {% include 'include/menu.html' %}
    {% block content %}
    {% endblock %}
    {% include 'include/footer.html' %}
      <!-- Кнопка Чат -->
    <a href="https://t.me/+380636364320"
        target="_blank"
        class="fixed bottom-24 right-6
                w-14 h-14
                bg-[#5ACAFA]
                rounded-full
                flex items-center justify-center
                drop-shadow-[0_0_10px_#5ACAFA]
                hover:scale-105
                transition-transform duration-300
                z-50">

        <img src="{% static 'image/Chat.svg' %}"
            class="w-7 h-7"
            alt="чат">
    </a>
    <!-- Фиксированная кнопка телефона -->
    <a href="tel:+380636364320"
        class="fixed bottom-6 right-6
            w-14 h-14
            bg-[#5ACAFA]
          rounded-full
          flex items-center justify-center
          drop-shadow-[0_0_10px_#5ACAFA]
          hover:scale-105
          transition-transform duration-300
          z-50">

    <img src="{% static 'image/Call.svg' %}"
         class="w-7 h-7"
         alt="телефон">
    </a>
    <!-- подключение видео galery.hrml -->
    <script>
    document.querySelectorAll('.video-box').forEach((box) => {

        const video = box.querySelector('.video');
        const button = box.querySelector('.play-btn');

        let isPlaying = false;

        button.addEventListener('click', () => {

            if (!isPlaying) {
                video.play();
                button.style.display = 'none';
                isPlaying = true;
            } else {
                video.pause();
                button.style.display = 'flex';
                isPlaying = false;
            }

        });

        video.addEventListener('click', () => {

            if (!isPlaying) {
                video.play();
                button.style.display = 'none';
                isPlaying = true;
            } else {
                video.pause();
                button.style.display = 'flex';
                isPlaying = false;
            }

        });

        video.addEventListener('ended', () => {
            isPlaying = false;
            button.style.display = 'flex';
        });

    });
    </script>
    <!-- подключение видео galery.hrml -->
</body>

</html>
